body {
   margin: 0px;
   background-color: #ddd;
   font-family: sans-serif;
   font-size: 1.2em;
   color: #7b7b7b;
   line-height: 1.6em;
   user-select: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

a {
   color: #38b5f9;
   text-decoration: none;
   font-weight: bold;
   transition: all .4s ease-in-out;
}

a:hover, a:active {
  color: #2a89bd;
}

.container {
   max-width: 90%;
   margin: 20px auto;
}

.card {
   background-color: #fff;
   padding: 18px;
   border-radius: 8px;
   border: 1px solid #d4d4d4;
   box-shadow: 0 6px 10px 0 rgba(0,0,0,.14),0 1px 12px 0 rgba(0,0,0,.12),0 3px 5px -1px rgba(0,0,0,.2);
}

.card div p:last-child {
   margin: 0px;
}

.card-title {
   border-bottom: 2px solid #ddd;
   padding-bottom: 8px;
   margin-bottom: 20px;
   font-size: 1.3em;
}

/* Btn styling */
.group {
   flex-wrap: wrap;
}

.child {
   flex: 1;
   display: block;
   text-align: center;
}

.btn {
   outline: none;
   border: none;
   padding: 10px 20px;
   cursor: pointer;
   background-color: #e0e0e0;
   color: #7b7b7b;
   width: 150px;
   box-shadow: 2px 2px 4px 0px rgba(0,0,0,.18);
   font-weight: bold;
   margin-bottom: 20px;
   transition: all .3s ease-in-out;
}

.btn:active {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px 1px rgba(0,0,0,.2);
  background-color: rgba(158,158,158,.4);
}

.btn-dropdown {
   padding: 0px;
   margin: 0px;
   list-style: none;
   background-color: #fff;
   position: absolute;
   left: 0px;
   top: 30px;
   box-shadow: 2px 2px 4px 0px rgba(0,0,0,.18);
   min-width: 200px;
   border: 1px solid #ddd;
   text-align: initial;
   max-height: 210px;
   overflow: auto;
   display: none;
   z-index: 100;
}

.btn-dropdown li {
   padding: 6px;
   margin: 0px;
   border-bottom: 1px solid #ddd;
   cursor: pointer;
}

.btn-dropdown li:hover {
   background-color: #ddd;
}

.btn-dropdown li:last-child {
   border-bottom: none;
}

.dropdown {
   position: relative;
   display: inline;
}

.disabled {
   background-color: #ddd;
}

.disabled:hover {
   cursor: not-allowed;
}

.mb-10 {
  margin-bottom: 10px;
}

#result {
   text-align: center;
   padding: 10px 0px 0px 0px;
}

/* responisve styling */
@media only screen and (min-width: 426px) {
   .group {
      display: flex;
      align-items: center;
   }
}

@media only screen and (max-width: 425px) {
   .btn {
      margin-bottom: 20px;
   }
}
