{
	"extends": ["plugin:react/recommended", "plugin:prettier/recommended"],
	"plugins": ["react-hooks"],
	"env": {
		"es6": true
	},
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"rules": {
		"react/prop-types": 0,
		"no-extra-semi": 1,
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn"
	},
	"settings": {
    "react": {
			"version": "detect"
		}
	}
}
